<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_cry_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,551},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_cry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,468},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_cry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,551},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_cry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,468},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_cry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,551},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_cry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,468},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_cry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,459},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_cry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,459},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>hero_dead1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,485},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>hero_dead1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,485},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>hero_dead1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,485},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>hero_dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>hero_dead2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,740},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>hero_dead2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,544},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>hero_dead2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,468},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>hero_drop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,620},{81,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>hero_drop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,492},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>hero_jpdown1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,584},{82,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>hero_jpdown1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,713},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>hero_jpdown_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,668},{61,70}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>hero_jpdown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,620},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>hero_jpdown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,703},{90,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>hero_jpdown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,641},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>hero_jpstart_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,620},{81,71}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>hero_jpstart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,816},{81,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>hero_jpstart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{79,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>hero_jpstart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{81,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,87}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>hero_jpup_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{68,78}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>hero_jpup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,713},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>hero_load_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,256},{239,210}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,42},{239,210}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{245,240}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{245,240}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,244},{239,246}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{239,246}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,214},{243,252}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{243,252}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{253,210}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{253,210}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,240}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{259,240}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{255,246}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,246}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{257,252}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,252}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_static_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,492},{86,74}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{86,74}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>hero_static_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,906},{86,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{86,84}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>hero_static_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{86,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>hero_static_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{86,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>hero_static_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,627},{90,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{90,74}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>hero_static_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,627},{90,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>hero_static_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,537},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>hero_static_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,537},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_anim.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8df1da4d97de75318dc497c68ac2b0d7:1/1$</string>
            <key>textureFileName</key>
            <string>hero_anim.png</string>
        </dict>
    </dict>
</plist>
