<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_load_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,210}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,42},{239,210}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{245,240}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{245,240}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{239,246}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{239,246}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{243,252}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{243,252}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{253,210}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{253,210}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,2},{259,240}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{259,240}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{255,246}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,246}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,2},{257,252}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,252}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>loading_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,2},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{93,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,117}}</string>
                <key>sourceSize</key>
                <string>{93,117}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,256},{145,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,113}}</string>
                <key>sourceSize</key>
                <string>{145,113}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,256},{71,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,117}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>loading_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,256},{613,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,92}}</string>
                <key>sourceSize</key>
                <string>{613,92}</string>
            </dict>
            <key>loading_word0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,256},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,256},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word11.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,375},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,375},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,375},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word5.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,438},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,438},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,438},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
            <key>loading_word9.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,501},{503,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,61}}</string>
                <key>sourceSize</key>
                <string>{503,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadinglayer.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1a42c4fa72a011869739f1e2a0eebb9:1/1$</string>
            <key>textureFileName</key>
            <string>loadinglayer.png</string>
        </dict>
    </dict>
</plist>
