<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,171},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,96},{93,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,117}}</string>
                <key>sourceSize</key>
                <string>{93,117}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,96},{145,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,113}}</string>
                <key>sourceSize</key>
                <string>{145,113}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,96},{71,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,117}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>loading_gwsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{748,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,167}}</string>
                <key>sourceSize</key>
                <string>{748,167}</string>
            </dict>
            <key>loading_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,210}}</string>
                <key>sourceSize</key>
                <string>{253,210}</string>
            </dict>
            <key>loading_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{613,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,92}}</string>
                <key>sourceSize</key>
                <string>{613,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadinglayer.png</string>
            <key>size</key>
            <string>{1622,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f592893bfbd16e5d1c73a5dd9f32117e:0f4db816f73931b824dc09e9c118cb35:db4f8a1151caee72b09dbd967efe447d$</string>
            <key>textureFileName</key>
            <string>loadinglayer.png</string>
        </dict>
    </dict>
</plist>
