<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backbtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,311},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>backbtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,186},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>guild_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,821},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{134,136}</string>
            </dict>
            <key>home_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,262},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>home_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,186},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>hop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,186},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>hop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,676},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>main_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,214},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>main_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,821},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>main_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{168,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,107}}</string>
                <key>sourceSize</key>
                <string>{168,107}</string>
            </dict>
            <key>main_restart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,132},{202,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,128}}</string>
                <key>sourceSize</key>
                <string>{202,128}</string>
            </dict>
            <key>main_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,108},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>main_setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,186},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>main_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>main_share1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>main_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{168,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,107}}</string>
                <key>sourceSize</key>
                <string>{168,107}</string>
            </dict>
            <key>main_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{202,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,128}}</string>
                <key>sourceSize</key>
                <string>{202,128}</string>
            </dict>
            <key>music_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,94},{354,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,90}}</string>
                <key>sourceSize</key>
                <string>{354,90}</string>
            </dict>
            <key>music_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{354,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,90}}</string>
                <key>sourceSize</key>
                <string>{354,90}</string>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{354,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,90}}</string>
                <key>sourceSize</key>
                <string>{354,90}</string>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,90}}</string>
                <key>sourceSize</key>
                <string>{354,90}</string>
            </dict>
            <key>share_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,262},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>share_fb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,399},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>share_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,262},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>share_qq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,312},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>share_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,948},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>share_wx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,399},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>share_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,948},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>share_xl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,312},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,320},{354,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,89}}</string>
                <key>sourceSize</key>
                <string>{354,89}</string>
            </dict>
            <key>sound_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{354,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,89}}</string>
                <key>sourceSize</key>
                <string>{354,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menus.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c176834d7e71163e3adbc550b6c9bdf8:1/1$</string>
            <key>textureFileName</key>
            <string>menus.png</string>
        </dict>
    </dict>
</plist>
