<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,371},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>main_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>main_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{168,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,107}}</string>
                <key>sourceSize</key>
                <string>{168,107}</string>
            </dict>
            <key>main_restart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{202,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,128}}</string>
                <key>sourceSize</key>
                <string>{202,128}</string>
            </dict>
            <key>main_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,235},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>main_setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>main_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,129},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>main_share1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,111},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>main_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{168,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,107}}</string>
                <key>sourceSize</key>
                <string>{168,107}</string>
            </dict>
            <key>main_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,128}}</string>
                <key>sourceSize</key>
                <string>{202,128}</string>
            </dict>
            <key>menu_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>menu_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,311},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>share_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,238},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>share_fb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,349},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>share_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,276},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>share_qq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,341},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>share_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,203},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>share_wx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,370},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>share_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,129},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>share_xl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,262},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menus.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77890a04482bd62fe4847b79c68d1f9a$</string>
            <key>textureFileName</key>
            <string>menus.png</string>
        </dict>
    </dict>
</plist>
