<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_bgBefore_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{1280,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,152}}</string>
                <key>sourceSize</key>
                <string>{1280,152}</string>
            </dict>
            <key>game_bgBefore_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{1280,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,151}}</string>
                <key>sourceSize</key>
                <string>{1280,151}</string>
            </dict>
            <key>game_bgBefore_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1047},{1280,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,151}}</string>
                <key>sourceSize</key>
                <string>{1280,151}</string>
            </dict>
            <key>game_bgBefore_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{1280,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,151}}</string>
                <key>sourceSize</key>
                <string>{1280,151}</string>
            </dict>
            <key>game_bgBefore_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{1280,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,152}}</string>
                <key>sourceSize</key>
                <string>{1280,152}</string>
            </dict>
            <key>game_cloud0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,369},{201,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,78}}</string>
                <key>sourceSize</key>
                <string>{201,78}</string>
            </dict>
            <key>game_cloud0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1353},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
            <key>game_cloud0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1639},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>game_cloud1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,449},{201,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,77}}</string>
                <key>sourceSize</key>
                <string>{201,77}</string>
            </dict>
            <key>game_cloud1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1422},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>game_cloud1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1601},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>game_cloud2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,342},{202,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,77}}</string>
                <key>sourceSize</key>
                <string>{202,77}</string>
            </dict>
            <key>game_cloud2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1386},{91,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,34}}</string>
                <key>sourceSize</key>
                <string>{91,34}</string>
            </dict>
            <key>game_cloud2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1563},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>game_cloud3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,290},{202,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,77}}</string>
                <key>sourceSize</key>
                <string>{202,77}</string>
            </dict>
            <key>game_cloud3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1525},{77,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,26}}</string>
                <key>sourceSize</key>
                <string>{77,26}</string>
            </dict>
            <key>game_cloud3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1525},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>game_cloud4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,421},{201,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,78}}</string>
                <key>sourceSize</key>
                <string>{201,78}</string>
            </dict>
            <key>game_cloud4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1492},{99,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,31}}</string>
                <key>sourceSize</key>
                <string>{99,31}</string>
            </dict>
            <key>game_cloud4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1454},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>game_column0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,218},{70,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,566}}</string>
                <key>sourceSize</key>
                <string>{70,566}</string>
            </dict>
            <key>game_column1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,146},{70,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,566}}</string>
                <key>sourceSize</key>
                <string>{70,566}</string>
            </dict>
            <key>game_column2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,74},{70,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,566}}</string>
                <key>sourceSize</key>
                <string>{70,566}</string>
            </dict>
            <key>game_column3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{70,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,566}}</string>
                <key>sourceSize</key>
                <string>{70,566}</string>
            </dict>
            <key>game_column4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,146},{70,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,566}}</string>
                <key>sourceSize</key>
                <string>{70,566}</string>
            </dict>
            <key>game_midBg1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,462},{1188,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1188,132}}</string>
                <key>sourceSize</key>
                <string>{1190,132}</string>
            </dict>
            <key>game_midBg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1353},{1180,126}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1180,126}}</string>
                <key>sourceSize</key>
                <string>{1186,126}</string>
            </dict>
            <key>game_midBg1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,528},{1149,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1149,126}}</string>
                <key>sourceSize</key>
                <string>{1149,126}</string>
            </dict>
            <key>game_midBg1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1481},{1164,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1164,124}}</string>
                <key>sourceSize</key>
                <string>{1164,124}</string>
            </dict>
            <key>game_midBg1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1607},{1158,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1158,124}}</string>
                <key>sourceSize</key>
                <string>{1158,124}</string>
            </dict>
            <key>game_midBg2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,200}}</string>
                <key>sourceSize</key>
                <string>{1280,200}</string>
            </dict>
            <key>game_midBg2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,501},{1280,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,189}}</string>
                <key>sourceSize</key>
                <string>{1280,189}</string>
            </dict>
            <key>game_midBg2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{1280,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,189}}</string>
                <key>sourceSize</key>
                <string>{1280,189}</string>
            </dict>
            <key>game_midBg2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{1280,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,189}}</string>
                <key>sourceSize</key>
                <string>{1280,189}</string>
            </dict>
            <key>game_midBg2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,2},{1280,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,189}}</string>
                <key>sourceSize</key>
                <string>{1280,189}</string>
            </dict>
            <key>game_scorebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,342},{136,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,118}}</string>
                <key>sourceSize</key>
                <string>{136,118}</string>
            </dict>
            <key>new_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,290},{352,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,50}}</string>
                <key>sourceSize</key>
                <string>{352,50}</string>
            </dict>
            <key>touch_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1677},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>touch_unnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1677},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_item.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c08e1bea16231ef0fe2952b80c4c2baa:1/1$</string>
            <key>textureFileName</key>
            <string>game_item.png</string>
        </dict>
    </dict>
</plist>
