<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_load_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,745},{239,210}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,42},{239,210}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{245,240}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{245,240}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,259},{239,246}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{239,246}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,500},{243,252}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{243,252}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{253,210}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{253,210}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,240}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{259,240}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{255,246}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,246}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
            <key>hero_load_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{257,252}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,252}}</string>
                <key>sourceSize</key>
                <string>{259,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load_hero.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc610c176ad2ce8ba170d7022fb43ee3:1/1$</string>
            <key>textureFileName</key>
            <string>load_hero.png</string>
        </dict>
    </dict>
</plist>
